*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    width: 800px;
    height: 450px;
    border: 2px solid black;
    /* background-color: lightblue; */
    background-image: url("https://plus.unsplash.com/premium_photo-1689530775582-83b8abdb5020?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cmFuZG9tJTIwcGVyc29ufGVufDB8fDB8fHww");
    background-size:200px 200px;
    background-repeat: no-repeat;
    background-position: top 50px left 50px;
}